/* ------------------- Fonts ------------------------------ */

body,
#site-slogan,
.ui-widget,
.comment-form label {
  font-family: Arial, sans-serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: Arial, sans-serif;
}
input,
textarea,
select,
a.button {
  font-family: Arial, sans-serif;
}

#main {
  margin-top: 0;
  padding-top: 10px;

  background-color: #fff;
}

#logo {
  padding-top: 35px;
  padding-bottom: 35px;
}

.view-calenderevents .view-row {

}